
.input-base {
  width: 100%;
  padding: 12px 12px;
  border: none;
  border-radius: 8px;
  background-color: #3a3f47;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: background-color 0.3s;
  box-sizing: border-box;
}


.input-base::placeholder {
  color: #8b8f95;
}

.input-base:focus {
  background-color: #464c56;
}